@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600&display=swap');

body{
    align-items: center;
    overflow-x: hidden;
}

*{
    padding: 0px 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    font-size: 18px;
}

header{
    height: 117px;
    background-color: #ffffff;
    top: 0px;
/*    position: sticky; */
    align-items: center;
    display: flex;
    z-index: 1;
}

header img{
    padding: 10px;
    padding-left: 50px;
}

header nav{
    padding: 10px;
    display: flex;
    width: 60%;
}

header nav a{
    width: 60%;
    text-align: center;
    text-decoration: none;
}


/*                                          */
/*                  SECAO 1                 */
/*                   BANNER                 */
/*                                          */
#banner{
    display: flex;
    padding: 18px;
    height: 721px;
    background: linear-gradient(180deg, rgba(245, 71, 72, 0.06) 0%, rgba(245, 71, 72, 0) 100%);
    align-items: center;
}

div.esquerda{
    width: 50%;
}

div.ptu{
    background-color: rgba(245, 71, 72, .3);
    border-radius: 1em;
    display: flex;
    align-items: center;
    width: 200px;
    height: 28px;
    padding-left: 10px;
}

div.ptu p{
    font-family: 'Inter', sans-serif;
    font: 18px #000000;
}

div.ptu img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

span.titulo{
    font-size: 58px;
    font-weight: 600;
    padding: 2.5px;
}

span.titulo_vermelho{
    font-size: 58px;
    color: #F54748;
}

span.titulo_amarelo{
    font-size: 58px;
    color: #FDC55E;
}

h2 span.amarelo{
    font-size: 48px;
    color: #FDC55E;
}

h2 span.vermelho{
    font-size: 48px;
    color: #F54748;
}

p.frase{
    text-align: left;
    font-size: 24px;
    width: 530px;
}

div.search{
    width: 471px;
    height: 54px;
    display: flex;
    align-items: center;
    border-radius: 5em;
    margin: 5px;
    background-color: #ffffff;
    border: 1px solid black;
}

div.search input{
    width: 400px;
    height: 54px;
    opacity: 50%;
    font-size: 18px;
    z-index: 1;
    border: none;
}

div.search img.img_esquerda{
    float: left;
    width: 24px;
    height: 24px;
    z-index: 1;
    padding: 0px 10px;
}

div.search img.img_direita{
    position: relative;
    float: right;
    width: 42px;
    height: 42px;
    z-index: 1;
}

div.abaixo{
    display: flex;
    align-items: center;
}

img.botao_video{

}

button.download, button.order, button.inscrever{
    border-radius: 10em;
    background-color: #F54748;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    height: 45px;
    width: 200px;
    border: none;
}

h2{
    font-size: 48px;
    font-weight: 600;
    padding: 2.5px;
}


/*                                          */
/*                  SECAO 2                 */
/*            TODAY SPECIAL OFFERS          */
/*                                          */
#todayspecialoffers{
    text-align: center;
    padding: 18px;
    height: 900px;
}

p.titulo{
    font-weight: 600;
    font-size: 48px;
}

div.cartoes{
    padding: 20px;
    display: flex;
    margin: 2%;
    height: 550px;
}

div.cartao{
    width: 310px;
    height: 300px;
    padding: 20px;
    position: relative;
}

div.cartao_img{
    background-image: linear-gradient(rgba(218, 151, 28, 0.80), rgb(255, 255, 255));
    width: 250px;
    height: 250px;
    border-radius: 100%;
    position: relative;
    top: 80px;
    z-index: 1;
    left: 20px;
}

img.foto_comida{
    width: 198px;
    height: 198px;
    position: relative;
    top: 26px;
}

div.preco{
    background-color: #FDC55E;
    width: 60px;
    height: 60px;
    float: right;
    border-radius: 100%;
    position: relative;
    bottom: 50px;
    border: 5px solid #ffffff;
    right: 10px;

}


div.informacao{
    background: linear-gradient(179.69deg, #ffffff00 -31.53%, #F5477C 303.75%);
    border-radius: 5%;
    align-items: center;
    height: 300px ;
    position: absolute;
    width: 300px;
    padding-top: 80px;
}

button.order{
    position: relative;
    top: 20px;
}

div.classificacao{
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;

}

img.estrela{
    width: 28px;
    height: 28px;
}

p.titulocomida{
    font-size: 24px;
    color: #F54748;
}


/*                                          */
/*                  SECAO 4                 */
/*               NOS SOMOS MAIS             */
/*                                          */
#nossomosmais{
    padding: 18px;
    display: flex;
    text-align: left;
    height: 700px;
}

img.cozinheiro{
    width: 550px;
    height: 620px;
    margin-right: 50px;
}

div.nossomosmais_direita{
    width: 70%;
    width: 690px;
    height: 466px;
    margin-left: 20px;
}

p.nossomosmais_titulo{
    width: 452px;
    height: 124px;
    font-size: 48px;
    font-weight: 600;
}

p.nossomosmais_subtitulo{
    width: 690px;
    height: 72px;
    font-size: 18px;
}

.itens{
    display: flex;
    align-items: center;
}

.item{
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: 100px;
    width: 700px;
}

.item img{
    padding-right: 10px;
    width: 24px;
    height: 24px;
}

/*                                          */
/*                  SECAO 5                 */
/*              MENU QUE APAIXONA           */
/*                                          */
#menuqueapaixona{
    text-align: center;
}

.tipo{
    height: 44px;
    border-radius: 100px;
    background-color: transparent;
    padding: 0px 10px;
    margin: 0px 10px;
    opacity: 0.6;
}

.tipo:hover{
    background-color: #F54748;
    opacity: 1;
}


/*                                          */
/*                  SECAO 5                 */
/*            MAIS FACIL DE PEDIR           */
/*                                          */
#ultimasecao{
    width: 100%;
    height: 900px;
    padding: 0px 18px;
    display: flex;
    align-items: center;
}

img.fotocozinheiro{
    margin-left: 20px;
    width: 50%;
    float: right;
}

.ultimasecao_esquerda{
    width: 700px;
    margin: 50px;
}


/*                                          */
/*                  FOOTER                  */
/*                                          */
.top{
    display: flex;
    padding: 18px;
}

h3{
    color: #F54748;
    font-size: 33px;
}


.logos{
    display: flex;
}

.logo{
    margin-right: 20px;
}

.foodhut{
    width: 325px;
    height: 188px;
}

.foodhut, .aboutus, .company, .contato{
    margin-right: 50px;
}

.copyright{
    text-align: center;
}

div.inscrever{
    display: flex;
}

div.inscrever input{
    border-radius: 5em;
    opacity: 0.9;
    padding: 0px 10px;
    width: 205px;
    height: 50px;
}

button.inscrever{
    width: 118px;
    height: 50px;
}