div.card{
    text-align: center;
    width: 310px;
    border: 5px black;
    padding: 20px;
}

h3{
    color: #F54748;
}

#menu{
    display: inline;
    text-align: right;
}

#trustus{
    display: inline;
}

#tos{
    text-align: center;
}

#tos.h2{
    font: 48 "Sofia Pro" bold;
}

#tipos{
    
}